<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.InvoiceViewMapper">
    <select id="getSentInvoicesById" resultType="az.cybernet.invoice.entity.Invoice" parameterType="java.util.UUID">
        SELECT *
        FROM invoice.invoice
        WHERE sender_id = #{id} AND status != 'DRAFT'
    </select>

    <select id="getReceivedInvoicesById" resultType="az.cybernet.invoice.entity.Invoice" parameterType="java.util.UUID">
        SELECT *
        FROM invoice.invoice
        WHERE customer_id = #{id} AND status != 'DRAFT'
    </select>

    <select id="getAllDraftsById" resultType="az.cybernet.invoice.entity.Invoice" parameterType="java.util.UUID">
        SELECT *
        FROM invoice.invoice
        WHERE sender_id = #{id} AND status = 'DRAFT'
    </select>

    <select id="getAllInvoicesById" resultType="az.cybernet.invoice.entity.Invoice" parameterType="java.util.UUID">
        SELECT *
        FROM invoice.invoice
        WHERE status != 'DRAFT' AND (sender_id = #{id} OR customer_id = #{id})
    </select>
</mapper>