<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.InvoiceViewMapper">
    <select id="getSentInvoicesByTaxId" resultType="az.cybernet.invoice.entity.Invoice" parameterType="string">
        SELECT *
        FROM invoice.invoice
        WHERE sender_id IN (
            SELECT id
            FROM users.users
            WHERE tax_id = #{taxId}
        ) AND status != 'DRAFT'
    </select>

    <select id="getReceivedInvoicesByTaxId" resultType="az.cybernet.invoice.entity.Invoice" parameterType="string">
        SELECT *
        FROM invoice.invoice
        WHERE customer_id IN (
            SELECT id
            FROM users.users
            WHERE tax_id = #{taxId}
        ) AND status != 'DRAFT'
    </select>

    <select id="getAllDraftsByTaxId" resultType="az.cybernet.invoice.entity.Invoice" parameterType="string">
        SELECT *
        FROM invoice.invoice
        WHERE invoice.sender_id IN (
            SELECT id
            FROM users.users
            WHERE tax_id = #{taxId}
        ) AND status = 'DRAFT'
    </select>

    <select id="getAllInvoicesByTaxId" resultType="az.cybernet.invoice.entity.Invoice" parameterType="string">
        SELECT *
        FROM invoice.invoice
        WHERE status != 'DRAFT' AND
              (sender_id IN (
                  SELECT id
                  FROM users.users
                  WHERE tax_id = #{taxId}
              ) OR customer_id IN (
                  SELECT id
                  FROM users.users
                  WHERE tax_id = #{taxId}
              ))
    </select>
</mapper>