<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.InvoiceBatchOperationsMapper">
    <update id="updateStatusInBatch">
        UPDATE invoice_schema.invoice
        SET status = #{status},
        updated_at = #{updatedAt}
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="findAllByIds" resultType="az.cybernet.invoice.entity.Invoice">
        SELECT *
        FROM invoice_schema.invoice
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>