<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.InvoiceOperationMapper">

    <insert id="insertInvoiceOperation" parameterType="az.cybernet.invoice.entity.InvoiceOperation">
        INSERT INTO invoice.invoice_operation ("id", "invoice_id", "status", "total", "timestamp", "comment")
        VALUES (#{id}, #{invoiceId}, #{status}, #{total}, #{timestamp}, #{comment})
    </insert>

    <select id="previousStatusFor"
            resultType="az.cybernet.invoice.enums.Status">
        SELECT status
        FROM invoice.invoice_operation
        WHERE invoiceId = #{id} AND status != 'CANCELED' AND timestamp &lt; #{date}
        ORDER BY timestamp DESC
        LIMIT 1
    </select>

</mapper>