<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.InvoiceMapper">

    <insert id="insertInvoice" parameterType="az.cybernet.invoice.entity.Invoice">
        INSERT INTO invoice_schema.invoice ("id", "series", "invoice_number", "sender_id", "customer_id", "status", "total", "created_at", "updated_at", "comment")
        VALUES (#{id}, #{series}, #{invoiceNumber}, #{senderId}, #{customerId}, #{status}, #{total}, #{createdAt}, #{updatedAt}, #{comment})
    </insert>
    
    <select id="getNextInvoiceNum" resultType="int">
        SELECT nextval('invoice_schema.invoice_num_seq')
    </select>

    <select id="sendBackForCorrection" resultType="az.cybernet.invoice.entity.Invoice">
        WITH cancelled AS (
        UPDATE invoice_schema.invoice
        SET status = 'CHANGES_REQUESTED',
            comment = #{comment},
            updated_at = #{updatedAt}
        WHERE id = #{id}
            RETURNING *
    )
        SELECT * FROM cancelled
    </select>

    <select id="findInvoiceById" parameterType="java.util.UUID" resultType="az.cybernet.invoice.entity.Invoice">
        SELECT * FROM invoice_schema.invoice WHERE id = #{id}
    </select>

    <select id="cancelInvoice" parameterType="java.util.UUID" resultType="az.cybernet.invoice.entity.Invoice">
        WITH cancelled AS (
        UPDATE invoice_schema.invoice
        SET status = 'CANCELLED'
        WHERE id = #{id}
        RETURNING * )
        SELECT * FROM cancelled
    </select>
</mapper>