<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.MeasurementMapper">

    <insert id="insertMeasurement" parameterType="az.cybernet.invoice.entity.Measurement">
        INSERT INTO invoice.measurement ("id", "name", "display_name")
        VALUES (#{id}, #{name}, #{displayName})
    </insert>

</mapper>