<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.ProductMapper">

    <insert id="insertProduct" parameterType="az.cybernet.invoice.entity.Product">
        INSERT INTO invoice_schema.product ("id", "name", "price", "measurement_id")
        VALUES (#{id}, #{name}, #{price}, #{measurementId})
    </insert>

</mapper>
