<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.invoice.mapper.ReturnTypeInvoiceMapper">
    <select id="findLastReturnTypeInvoiceMapper" resultType="Integer" parameterType="map">
        <![CDATA[
        SELECT MAX(invoice_number)
        FROM invoice.invoice
        WHERE created_at >= #{startOfMonth} AND created_at < #{startOfNextMonth} AND series LIKE 'IVR%'
        ]]>
    </select>
    <insert id="insertReturnTypeInvoice" parameterType="az.cybernet.invoice.entity.ReturnTypeInvoice">
        INSERT INTO invoice.return_invoice ("id", "series", "invoice_number", "sender_id", "customer_id", "status", "total", "updated_at", "comment", "original_invoice_id", "original_invoice_series", "return_date")
        VALUES (#{id}, #{series}, #{invoiceNumber}, #{senderId}, #{customerId}, #{status}, #{total}, #{updatedAt}, #{comment}, #{originalInvoiceId}, #{originalInvoiceSeries}, #{returnDate})
    </insert>
</mapper>