<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.usermanagement.mapper.UserMapper">

    <insert id="insertUser" parameterType="az.cybernet.usermanagement.entity.User">
        INSERT INTO users.users ("id", "name", "tax_id")
        VALUES (#{id}, #{name}, nextval('users.user_tax_id_seq')::text)
    </insert>

    <select id="findById" parameterType="java.util.UUID" resultType="az.cybernet.usermanagement.entity.User">
        SELECT * FROM users.users WHERE id = #{id}
    </select>

    <select id="findByUserId" parameterType="String" resultType="az.cybernet.usermanagement.entity.User">
        SELECT * FROM users.users WHERE user_id = #{userId}
    </select>

    <select id="findByTaxId" parameterType="String" resultType="az.cybernet.usermanagement.entity.User">
        SELECT * FROM users.users WHERE tax_id = #{taxId}
    </select>

    <select id="findAllUsers" resultType="az.cybernet.usermanagement.entity.User">
        SELECT * FROM users.users
    </select>



    <update id="updateTaxAndPassword">
        update users.users
        set tax_id = #{taxId},
            password = #{password}
        where id = #{id}
    </update>

    <select id="findByUsername" parameterType="string" resultType="az.cybernet.usermanagement.entity.User">
        SELECT
            u.id, u.name, u.password,
            r.id role_id, r.name role_name
        FROM users.users u
                 LEFT JOIN users.user_roles ur ON u.id = ur.user_id
                 LEFT JOIN users.roles r ON ur.user_id = r.id
        WHERE u.name = #{name}
    </select>

    <select id="getRolesByUserId" parameterType="java.util.UUID" resultType="az.cybernet.usermanagement.entity.Role">
        SELECT
            r.id, r.name
        FROM users.role r
                 INNER JOIN users.user_roles ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
    </select>

</mapper>
