<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="az.cybernet.usermanagement.mapper.UserDetailsMapper">
    <insert id="saveUserDetails" parameterType="az.cybernet.usermanagement.entity.UserDetails">
        INSERT INTO users.user_details ("id", "phone_number", "user_id", "residential_address", "legal_address",
                                        "legal_entity_name", "registration_date", "registration_type",
                                        "date_of_birth", "organization_id")
        VALUES  (#{userDetails.id},
                 #{userDetails.phoneNumber},
                 #{userDetails.userId},
                 #{userDetails.residentialAddress},
                 #{userDetails.legalAddress},
                 #{userDetails.legalEntityName},
                 #{userDetails.registrationDate},
                 #{userDetails.registrationType},
                 #{userDetails.dateOfBirth},
                 #{userDetails.organizationId})
    </insert>

</mapper>
